html,body {
    top:0;
    margin: 0;
    padding:0;
    height: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

body {
    background-position: center;
    background-size: cover;
}

footer {
    border-top-color:white;
    border-top-width:2px;
    position: absolute;
    text-align: center;
    width:100%;
    bottom:0;
    color:white;
    background-color: black;
    height:40px;
}

#main {
    height:100%;
    display:none;
    width:100%;
    position:fixed;
    top:0;
    bottom:0;
    background-image: linear-gradient(#659999,#f4791f);
}

#front {
    text-align: center;
    margin:auto;
    width:100%;
    height:100%;
    right: 50px;
    display:block;
}

.enterBtn {
    border: none;
    display: block;
    border-radius:99px;
    width:100px;
    height:100px;
    margin: 0;
    outline:none;
    position:absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.enterBtn:hover {
    color:white;
    box-shadow: none;
}

.box {
    top:0;
    display:flex;
    position:relative; 
    width:600%;
    left:-100%;
}

.card {
    margin-right:200px;
    width:100%;
    display: flex;
    height:100%;
}

.wrapper {
    width:100%;
    height:100%;
    z-index: 1;
    background-image: url(/img/skyline4.png);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.control {
    position: absolute;
    top:40%;
    width:40px;
    height:40px;
    background:white;
    border-radius:20px;
    margin-top:20px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    z-index:2;
}

.prev,
.next{
    background-size:22px;
    background-position: center;
    background-repeat:no-repeat;
    cursor:pointer;
}

.prev {
    left:20px;
    background-image: url(/img/left.png);
}

.next {
    right:20px;
    background-image: url(/img/right.png);
}

.prev:active,.next:active {
    transform:scale(.8);
}

.billboard {
    margin:0;
    height:600px;
    bottom:12px;
    left:35%;
    position: fixed;
    pointer-events: none;
}

.pic {
    margin:0;
    height:100%;
}

.gallery {
    display:none;
    background-color:white;
    top:0;
}


.theDude {
    position:fixed;
    margin:auto;
    width:100%;
    padding:0;
    bottom:190px;
    font-family: 'Pangolin', cursive;
}

#person {
    display:inline-block;
    position:fixed;
    height:100px;
    width:100px;
    margin:60px 0px 0px -120px;
    left:50%;
    background-image: url(/img/person5.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter:drop-shadow(-2px 5px 5px rgba(0,0,0,0.3));
}

.person:hover {
    background-image:url(/img/person/1.png)
}

/* text bubble */
.speech-bubble {
    color:black;
	position: fixed;
    background: white;
    border: 5px 5px 5px 5px;
    border-radius: .4em;
    width:25%;
    text-align: center;
    display:inline-block;
    left: 50%;
    height:100px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0px;
    margin-left: -20px;
}

#text {
    top:50%;
    font-size: 20px;
    margin:15px;
}