html {
    margin: 0;
    padding: 0;
}

:root {
    --bgcolor: #232323;
    --glowcolor: #FF7400;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -moz-box-shadow:    inset 0 0 20px var(--glowcolor);
    -webkit-box-shadow: inset 0 0 20px var(--glowcolor);
    box-shadow:         inset 0 0 20px var(--glowcolor);
}

.card-box {
    width: 40%;
    height: 50%;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(255,255,255,0.25); 
    box-shadow:4px 4px 10px 0px rgba(255,255,255,0.25);
}

