html {
    padding:0;
    margin:0;
    font-family: "neue_montrealbold", sans-serif;
    height:100%;

}

body {
    padding:0;
    margin:0;
    font-family: "neue_montrealbold", sans-serif;
    font-size: 16px;
    color: white;
    background-color: #242d2e;
}

.menu-container {
    position: fixed;
    width: 100%;
    font-size: 14px;
    height: 50px;
    z-index: 5;
}

.menu-item {
    top:0;
    width:500px;
    display:none;
    position: absolute;
    /* Centering Absolute */
    left: 50%; 
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.menu-container ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}

.menu-container ul li:hover{
    color:#40e0d0;
    border-bottom: 3px solid #40e0d0;
}

.menu-hover {
    position: absolute;
    top:15px;
    /* Centering Absolute */
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.menu-hover:hover {
    cursor:grab;
}

.menu-bar-container {
    width:150px;
    font-size: 12px;  
}

.menu-bar {
    margin: 0 auto;
    height: 8px;
    width: 60%;
    background-color: white;
    border-radius: 25px;
    display:inline-block;
    margin-right:10px;
}

.forward-arrow {
    position: fixed;
    top:50%;
    right:0;
}

.backward-arrow {
    position: fixed;
    top:50%;
    left:0;
}

.note-1 {
    width:250px;
    height:70px;
    background-color: white;
    position: fixed;
    top:50px;
    left:50px;
    border-radius: 10px 10px 10px 10px;
    border-left: 5px solid #40e0d0;
    z-index: 2;
    transition: top 500ms;
    -webkit-box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.81); 
    box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.81);
}

.note-1:hover {
    top: 45px;
}

.note-text {
    position: absolute;
    top:50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color:#242d2e;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    opacity: 0.3;
    z-index: 1;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
  
.note-2 {
    width:250px;
    height:70px;
    background-color: white;
    position: fixed;
    top:130px;
    left:50px;
    border-radius: 10px 10px 10px 10px;
    border-left: 5px solid #40e0d0;
    z-index: 2;
    transition: top 500ms;
    -webkit-box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.81); 
    box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.81);
}

.note-2:hover {
    top: 125px;
}

.content-container {
    width: 100vw;
    position: fixed;
    margin-right: 15vw;
}

.page {
    display: inline-block;
    height: 100vh;
    width: 100vw;
}

.intro {
    opacity: 1;
    z-index: -1;
}

.intro-description {
    margin: 0 15vw;
}

.profile-pic {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.28);
    margin: auto;
}

/*
.pentagon-box {
    position: fixed;
    top:50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pentagon1 {
    height: 250px;
    position: absolute;
    filter: invert(71%) sepia(39%) saturate(638%) hue-rotate(123deg) brightness(99%) contrast(92%);
    opacity: 0.6;
    filter: drop-shadow(0px 0px 39px 22px rgba(64,224,208,0.69));

    top:50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pentagon1:hover {
    transition-duration: 75ms;
    height: 270px;
}

.pentagon2 {
    height: 170px;
    position: absolute;
    filter: invert(71%) sepia(39%) saturate(638%) hue-rotate(123deg) brightness(99%) contrast(92%);
    opacity: 0.4;
    filter: drop-shadow(0px 0px 39px 22px rgba(64,224,208,0.69));

    top:50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pentagon2:hover {
    transition-duration: 75ms;
    height: 200px;
}

.pentagon3 {
    height: 80px;
    position: absolute;
    filter: invert(71%) sepia(39%) saturate(638%) hue-rotate(123deg) brightness(99%) contrast(92%);
    opacity: 0.2;

    top:50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pentagon3:hover {
    transition-duration: 75ms;
    height: 100px;
}
*/

.radar-container {
    position:fixed;
    width:700px;
    height:700px;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}

.intro-description {
    font-family: "neue_montreallight", sans-serif;
}
.robotics {
    padding-top:60px;
    opacity: 0;
    width:90vw;
    margin:0 auto;
}

.page-title {
    font-family: "neue_montrealbold", sans-serif;
}

.page-content {
    font-family: "neue_montreallight", sans-serif;
}

.robotics-card-container {
    margin:0 auto;
}

.robotics-card {
    background-size: cover;
    background-position: center;
    width: 20vw;
    display: inline-block;
    height:18vh;
    margin:1vw;
    border-radius: 5px;
    box-shadow: 5px 5px 19px -4px rgba(0,0,0,0.38);
}

.robotics-card:hover {
    opacity:0.6;
}

.robotics-card-title {
    margin: 1vw;
}

#quadruped {
    display: none;
    opacity:0;
}

.graphics {
    padding-top:60px;
    opacity: 0;
    width:90vw;
    margin:0 auto;
    opacity: 0;
}

.web {
    padding-top:60px;
    opacity: 0;
    width:90vw;
    margin:0 auto;
    opacity: 0;
}

.hobby {
    padding-top:60px;
    opacity: 0;
    width:90vw;
    margin:0 auto;
    opacity: 0;
}

.cad {
    padding-top:60px;
    opacity: 0;
    width:90vw;
    margin:0 auto;
    opacity: 0;
}

.others {
    padding-top:60px;
    opacity: 0;
    width:90vw;
    margin:0 auto;
    opacity: 0;
}

.footer-style {
    font-size:8px;
    font-family: "neue_montreallight", sans-serif;
    text-align: center;
    bottom:15px;
    position: fixed;
    display: block;
    width:105px;
    /* Centering Absolute */
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

a img {
    margin: 0 4px;
}

a img:hover {
    opacity: 0.8;
}